<li id="comment-<%=comment._id%>">
    <%if(locals.user){%>
        <%if(locals.user.id==comment.user.id || locals.user.id==post.user.id){%>
        <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">X</a>
        <%}%>    
    <%}%>    


    <%=comment.user.name%><br>
    <%=comment.content%>
</li>