<div id="footer-cont">
    <span>&copy; Coding Ninjas. All Rights Reserved </span>&nbsp;&nbsp;&ensp;
    <span id="links">
       <a href="/">HOME</a>
       <a href="/user/profile/<%=user.id%>">PROFILE</a>
    </span>
</div>