<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <title>Codeial</title>
    </head>
    <body>
        <%-include('./header.ejs') %>
        <main> <%-body%> </main>
        <section id="footer"><%-include('./footer.ejs')%></section>
    </body>
</html>