<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <p>
            your name:<%= user.name%>
            your email:<%=user.email%>
        </p>
        <form action="/user/sign-out" method="GET">
            <input type="submit" value="Sign Out">
        </form>
    </body>
</html>