#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 80%;
    padding: 10px; }
  #home-container #users {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightslategray;
    min-height: 81vh; }
